.chat_main
  .chat_main__group-info
    .chat_main__group-info__left-box
      .chat_main__group-info__left-box__group-name
        test
      .chat_main__group-info__left-box__member-list
        Member: masa
    .chat_main__group-info__right-box
      .chat_main__group-info__right-box__edit-box
        Edit 
  .chat_main__message-list
    .chat_main__message-list__messages
      .chat_main__message-list__messages__top
        .chat_main__message-list__messages__top__left
          masa
        .chat_main__message-list__messages__top__right
          2019/11/20(wed) 17:43:01
      .chat_main__message-list__messages__bottom
        おはよう！
    .chat_main__message-list__messages
      .chat_main__message-list__messages__top
        .chat_main__message-list__messages__top__left
          masa
        .chat_main__message-list__messages__top__right
          2019/11/20(wed) 17:43:34
      .chat_main__message-list__messages__bottom
        今日は夜から雨
  .chat_main__message-form
    %form.chat_main__message-form__new-message
      .input-box
        %input{class: "input-box__left-box", name: "content", placeholder: "type a message", type: "text"}
        %label{class: "input-box__images"}
          = icon('fas', 'image')
          %input{class: "input-box__images__file", type: "file"}
      %input{class: "chat_main__message-form__new-message__send-btn", placeholder: "Submit", type: "submit"}