.chat_main__message-list__messages
  .chat_main__message-list__messages__top
    .chat_main__message-list__messages__top__left
      = message.user.name
    .chat_main__message-list__messages__top__right
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat_main__message-list__messages__bottom
    - if message.content.present?
      %p.Message__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?