.side_bar
  .side_bar__user-name
    .side_bar__user-name__list
      .side_bar__user-name__list__left
        masa
      %ul.side_bar__user-name__list__right
        %li.side_bar__user-name__list__right__pencil
          = icon('fas', 'edit')
        %li.side_bar__user-name__list__right__fog
          = icon('fas', 'cog')
  .side_bar__group-list
    .side_bar__group-list__message
      .side_bar__group-list__message__group-name
        techcamp
      .side_bar__group-list__message__new-message
        まだメッセージがありません